.card {
  position: relative;
   width: 660px;
   height: 110px;
   margin: 10px;
   border: 0.5px solid #000000;
   border-radius:8px;
   display:inline-flex;
   margin-left:50px;
   overflow: auto;
    line-height:1.8rem;
 }
 .cardcollege{
   font-size: 1.5rem;
   color: rgb(10, 16,87); 
   white-space: nowrap;
 }
 .collegecode{
   font-size:2rem;
   margin-left: 20px;
   font-family: 'Times New Roman', Times, serif;
   color: rgb(255, 0, 242);
 }
 .cimg{
   margin:20px;
 }
 .cardloc{
  margin-left:20px ;
 }
 .inercard{
   margin:10px;
   display: grid;
   grid-auto-flow: row;
 }