.card {
 position: relative;
  width: 650px;
  height: 110px;
  margin: 10px;
  border: 0.5px solid #000000;
  border-radius:8px;
  display:inline-flex;
  margin-left:70px;
  overflow: auto;
   line-height:1.8rem;
}
.cardcollege{
  margin-left: 10px;
  margin-right:20px;
  font-size: 1.5rem;
  color: rgb(10, 16,87); 
}
.iner{
  display: grid;
  grid-auto-flow:row;
}
.cardid{
  font-size:1.5rem;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  color: rgb(255, 0, 242);
}
.cimg{
  margin:20px;
}
.cardloc{
 margin-left:20px ;
}